:root {
    --dark-blue: #1a2238;
    --light-blue: #9daaf2;
    --orange: #ff6a3d;
    --yellow: #f4db7d;
    --white: #ffffff;
    --hover-link-nav: #8a8a8a;
    --source-sans: 'Source Sans Pro', sans-serif;
    --open-sans: "Open Sans ", sans-serif;

    --ham-menu-size: 100px;
    --ham-menu-border-size: 2px;
    --ham-menu-line-height: calc(var(--ham-menu-size) * 0.07);
    --error-margin: calc(var(--ham-menu-size)*0.13) /*smaller sizes increase the value from 0.13 and for bigger sizes decrease it*/

}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

html,
body {
    height: 100%;
}

body {
    background: #1a2238;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ham-menu {
    width: var(--ham-menu-size);
    height: var(--ham-menu-size);
    border: var(--ham-menu-border-size) var(--white) solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.ham-menu:hover{
    cursor: pointer;
}

.ham-line{
    width: calc(var(--ham-menu-size) * 0.80);
    height: var(--ham-menu-line-height);
    background-color: var(--white);
    border-radius: 1rem;
    margin: calc(var(--ham-menu-size) * 0.1);
}

.ham-first-line,
.ham-second-line,
.ham-third-line {
    transition: all 0.5s ease-in-out;
}

.ham-menu[active="true"]>.ham-second-line{
    opacity: 0;
}

.ham-menu[active="true"]>.ham-first-line{
    transform: translateY(calc(var(--ham-menu-size)*0.5 - (var(--ham-menu-line-height)*0.5) - var(--error-margin))) rotate(45deg);
}

.ham-menu[active="true"]>.ham-third-line{
    transform: translateY(calc((var(--ham-menu-line-height)*0.5) - var(--ham-menu-size)*0.5 + var(--error-margin))) rotate(-45deg);
}


